.section09 {
  @extend %section-rules;

  padding: 20px 0 34px 0;
}

.top-block__img {
  margin-bottom: 26px;
}

.bottom-block {
  margin: 0 auto;
  // width: 288px;
}

.bottom-block__headline {
  margin: 0 auto 30px auto;
  width: 288px;
  font-family: 'Acrom';
  font-weight: 900;
  font-size: 10.5px;
  line-height: 16.5px;
  color: $primary-black-color;
  text-transform: uppercase;
}

.skills {
  margin: 0 auto;
  width: 300px;
}

.skills-item {
  position: relative;
  padding-left: 30px;
  width: 300px;
}

.skills-item:not(:last-child) {
  margin-bottom: 24px;
}

.skills-icon-num::before {
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  content: '';
  width: 15px;
  height: 51px;
  background-position: center;
  background-repeat: no-repeat;
}

.skills-icon-num--001::before {
  background-image: url(../images/480/section13_slills001.png);
}

.skills-icon-num--002::before {
  background-image: url(../images/480/section13_slills002.png);
}

.skills-icon-num--003::before {
  background-image: url(../images/480/section13_slills003.png);
}

.skills-icon-num--004::before {
  background-image: url(../images/480/section13_slills004.png);
}

.skills-icon-num--005::before {
  background-image: url(../images/480/section13_slills005.png);
}

.skills-icon-num--006::before {
  background-image: url(../images/480/section13_slills006.png);
}

.skills-item__title {
  margin-bottom: 6px;
  font-family: 'Acrom';
  font-weight: 700;
  font-size: 13.5px;
  line-height: 19.5px;
  color: $primary-black-color;
}

.skills-item__text {
  font-family: 'Acrom';
  font-weight: 400;
  font-size: 13.5px;
  line-height: 19.5px;
  color: $secondary-black-color;
}
